# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Joel E Carlson
	email = joel_carlson@optum.com
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
